<section>
  <%menus.all.each do |menu|%>
    <li class="MenuItem">
      <%=form_with(url: "/menus/#{menu.id}", method:"get") do%>
        <label class="MenuItem-container">
          <p class="MenuItem-text"><%= menu.menu_name %></p>
          <input type="image" src="trash-can-outline.svg"/>
        </label>
      <%end%>
    </li>
  <%end%>
</section>
