<section>
  <h2> Menus </h2>
  <% counter = 0 %>
    <% @menus.each do |menu| %>
        <%= link_to menu_path(menu.id) do %>
          <%= menu.name %>
        <% end %>
        <% counter = counter + 1 %>
    <% end %>
</section>
