<section>
  <h1> Add item to an order  </h1>

  <%= form_with url: order_items_path do |form| %>

    <div>
      Order Date  :<br/>
      <%= form.select :order, Order.all.where(delivered_at: nil).map { |order| "#{order.id} #{order.date}" } %>
    </div>
    <div>
      Item name  :<br/>
      <%= form.select :item, MenuItem.all.map { |item|
            "#{Menu.find(item.menu_id).name} #{item.name} #{item.price}"
          } %>
    </div>
    <%= form.submit "Add menu item to order" %>
  <% end %>
</section>
