.Table-button,
.AddMenu-button,
.AddMenuItem-button {
  background-color: rgb(50, 238, 245);
  color: black;
  border: 2px solid #e7e7e7;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 6px;
  font-size: medium;
  text-decoration: none;
}
.Table-button:hover,
.AddMenu-button:hover,
.AddMenuItem-button:hover {
  background-color: #e7e7e7;
}
